.empty-cart {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.empty-cart a {
    color: var(--white-color);
    background-color: var(--primary-color);
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 3px;
    margin: 20px 0;
}
.empty-cart a:hover {
    opacity: 0.9;
}

.header__cart-empty-item {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.header__cart-empty-item img {
    width: 100%;
}