:root{
  --primary-color: #599146;  /*#1b4924,  #296331*/
  --sidebar-color: #1b4924;
  --sub-sidebar-color: #296331;
  --border-color: #dee2e6;
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333; 
  --height-home-session: 60px;
  --footer-height: 50px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


html{
  font-size: 62.5%; 
  line-height: 1.6rem;
  box-sizing: border-box;
}

/* --------------------------Button----------------------------- */
.btn--delete{
  color: var(--white-color);
  font-size: 1.6rem;
  border-radius: 20px;
  outline: none;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  background-color: #f25220;
}

.btn--delete:hover{
  opacity: .95;
}

.btn--close,
.btn--primary{
  font-size: 1.4rem;
  padding: 10px 42px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
}

.btn--close{
  color: var(--text-color);
  background-color: var(--white-color);
}

.btn--primary{
  color: var(--white-color);
  background-color: var(--primary-color);
}

.btn + .btn{
  margin-left: 8px;
}

.btn--primary:hover{
  opacity: 0.9;
}

.btn--close:hover{
  background-color: #f5f5f5;
}

/* ---------------------------Action---------------------- */
.icon{
  font-size: 2rem;
}
.action__icon--eye{
  color: blue;
}

.action__icon--edit{
  color: orange;
}
.action__icon--delete{
  color: red;
}

.icon + .icon {
 margin-left: 8px;
}
/*------------------------------- Modal --------------------------------*/
.modal1,
.modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.05);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.modal-open{
  display: flex;
}

.modal1{
  display: flex;
}

@keyframes fadeIn {
  from{
    opacity: 0;
    transform: translateY(-650px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

/* --------------------------------Pagination---------------------- */


.pagination{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 8px 0;
}
.pagination i {
  font-size: 2rem;
  padding: 8px 12px;
  cursor: pointer;
  color: #999;
}
.pagi__button{
  border: none;
  background-color: var(--white-color);
}

.pagination--active{
  padding: 6px 16px;
  border: none;
  border-radius: 2px;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 1.6rem;
  text-decoration: none;
  cursor: pointer;
  margin: 0 12px;
}
